{% extends 'base.html.twig' %}

{% block title %}Exchange index{% endblock %}

{% block body %}
    <h1>Exchange index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uuid</th>
                <th>UserId</th>
                <th>BatteryId</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Watts</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exchange in exchanges %}
            <tr>
                <td>{{ exchange.id }}</td>
                <td>{{ exchange.uuid }}</td>
                <td>{{ exchange.userId }}</td>
                <td>{{ exchange.batteryId }}</td>
                <td>{{ exchange.createdAt ? exchange.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ exchange.updatedAt ? exchange.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ exchange.watts }}</td>
                <td>
                    <a href="{{ path('app_exchange_show', {'id': exchange.id}) }}">show</a>
                    <a href="{{ path('app_exchange_edit', {'id': exchange.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exchange_new') }}">Create new</a>
{% endblock %}
