{% extends 'base.html.twig' %}

{% block title %}BatteryBank index{% endblock %}

{% block body %}
    <h1>BatteryBank index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for battery_bank in battery_banks %}
            <tr>
                <td>{{ battery_bank.id }}</td>
                <td>{{ battery_bank.createdAt ? battery_bank.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ battery_bank.updatedAt ? battery_bank.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ battery_bank.description }}</td>
                <td>
                    <a href="{{ path('app_battery_bank_show', {'id': battery_bank.id}) }}">show</a>
                    <a href="{{ path('app_battery_bank_edit', {'id': battery_bank.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_battery_bank_new') }}">Create new</a>
{% endblock %}
